<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/spur.min.css') }}">
        {% endblock %}

    {% endblock %}
</head>
<body>
    <div class="dash">
        <!-- Your page content -->
        {% block navbar %}
            {#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
            <div class="dash-nav dash-nav-dark">

				<header>
                    <a href="/" class="spur-logo">
                    </a>
                </header>

				<nav class="dash-nav-list">
                    <a href="/" class="dash-nav-item">
                        <i class="fas fa-home"></i>
                        Dashboard
                    </a>
                </nav>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endblock %}
        <div class="dash-app">
            <header class="dash-toolbar">
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
            </header>
            <main class="dash-content">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/spur.js') }}"></script>
	<script src="https://kit.fontawesome.com/12042a8f3c.js"></script>
{% endblock %}
</body>
</html>